<section class="unique">
    <!-- <a href routerLink="auteur">AUTEUR</a> -->
    <article>
        <h2>{{newsActu.titre}}</h2>

        <img [src]="newsActu.img" />
        <!-- Sanitisation pour permettre l'affichage de balises HTML -->
        <p [innerHtml]="sanitizer.bypassSecurityTrustHtml( newsActu.intro )"></p>
        <p [innerHtml]="sanitizer.bypassSecurityTrustHtml( newsActu.description )"></p>
        <a href [routerLink]="['/edition', newsId]" *ngIf="connexion.connecte"><img src="./assets/images/Settings.png" class="edition" /></a>
    </article>

</section>
<!-- Afficher l'auteur d'une nouvelle -->
<section class="unique" *ngIf="newsActu.ngauteur">
    <article>
        <blockquote>
            <app-anews-auteur [auteur]="newsActu.ngauteur"></app-anews-auteur>
        </blockquote>
    </article>
</section>